{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info">"{{request.GET.keyword}}"</span></h3>
            <hr>
            {% for result in results %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{result.image.url}}" class="img-fluid" alt="" style="height:200px; object-fit:contain;">
                </div> 
                <div class="col-md-8">
                    <h4><a href="{% url 'ecomapp:productdetail' result.slug %}">{{result.title}}</a></h4>
                    <p>{{result.description|truncatewords:50}}</p>
                   <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-success">Add To Cart</a> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %} 